/* CSS de toute l'en-tête */
:root {
  --color_violet: #8031A7;
  --color_violet100: #A56AC2;
  --color_violet75: #C39AD6;
  --color_violet50: #DDC8E9;
  --color_violet25: #ECE0F3;
  
  --color_vert: #6AB023;
  --color_vert100: #399E69;
  --color_vert75: #8AC154;
  --color_vert50: #C5CF39;
  --color_vert25: #CED760;
  
  --color_bleu: #0099D0;
  --color_bleu100: #398CB7;
  --color_bleu75: #39AFDA;
  --color_bleu50: #6CCAEB;
  --color_bleu25: #8BD6F0;
  --color_bleuLPO: #0276BD;
  --color_bleuLPO_ombre: #01385B;
  
  --color_orange: #EA7200;
  --color_orange100: #CC7B57;
  --color_orange75: #EE9039;
  --color_orange50: #F9BA39;
  --color_orange25: #F8C04F;
}

/* Logo de la LPO */
#logoLPO {
  background-color: var(--color_violet);
  display: flex;
  padding: 20px;
}

/* Logo du laboratoire */
#logo1 {
  display: flex;
  align-self: center;
  padding: 10px;
}

/* Autres logos */
/*#titreSousLogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#titreSousLogos>h2 {
  font-size: 18px;
  
}

#autresLogos {
  display: flex;
  justify-content: space-evenly;
}*/

/* Titre du dashboard */
#logoTitre>h2 {
  color: #FFFFFF;
  text-shadow: 1px 1px 10px black;
  font-weight: 650;
  font-size: 300%;
}

#logoTitre {
  display: flex;
  align-items: center;
}

/* Boutons de navigation */
#navigation {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

#navigation>button {
  width: 85px;
  height: 50%;
  margin-right: 3px;
  margin-left: 3px;
  color: #FFFFFF;
  font-weight: 650;
}

#accueilButton {
  background-color: var(--color_violet50);
  outline: none;
  box-shadow: none;
}
#globalButton {
  background-color: var(--color_violet50);
  outline: none;
  box-shadow: none;
}
#expertButton {
  background-color: var(--color_violet50);
  outline: none;
  box-shadow: none;
}
#adminButton {
  background-color: var(--color_violet50);
  outline: none;
  box-shadow: none;
}

#passiveButton {
  background-color: var(--color_bleuLPO);
  border-bottom: 2px solid var(--color_bleuLPO_ombre);
  border-right: 2px solid var(--color_bleuLPO_ombre);
  border-top: none;
  border-left: none;
  outline: none;
  box-shadow: none;
}

#logoHeader {
  background-color: var(--color_violet);
  display: flex;
  justify-content: space-between;
  height: 130px;
}

#objSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3%;
}

#yearSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

#yearLabel {
  display: flex;
  align-self: center;
  color: #FFFFFF;
  font-size: 130%;
  margin: 0px;
}

/*ScrollBar*/
span.irs-min {
  opacity: 0;
}
span.irs-max {
  opacity: 0;
}
span.irs--shiny .irs-single{
  background-color: #FFFFFF00;
}
span.irs--shiny .irs-line{
  border: none;
  background-color: #FFFFFF;
  background: linear-gradient(to bottom, #ffffff -50%, #ffffff 150%);
}
span.irs--shiny .irs-bar{
  border: none;
  background-color: #FFFFFF;
}
span.irs--shiny .irs-handle{
  border: none;
  background-color: var(--color_violet75);
}
span.irs--shiny .irs-handle.state_hover, .irs--shiny .irs-handle:hover{
  border: none;
  background-color: var(--color_violet50);
}
.shiny-input-container:not(.shiny-input-container-inline) {
  margin: 0px;
  align-items: center;
}

#polesSettings {
  margin: 0px;
}

#actionButtonFlower {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding: 0px;
}

#actionButtonBee {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding: 0px;
}

#actionButtonPaw {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding: 0px;
}

/* Bandeau des settings */
#settings {
  display: flex;
  background-color: var(--color_bleuLPO);
  flex-direction: column;
  width:95%;
  border-radius: 0 0 20px 0;
  
}

/* Bandeau vide */
#blankHeader {
  background-color: #000000;
  height: 100%;
  opacity: 0;
  flex-shrink: 3;
}

/* Partie droite du bandeau */
#headBand {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* En tête générale */
#enTete {
  height:190px;
  display: flex;
  flex-direction: row;
}
