/* CSS du bandeau de gauche du mode Global et Expert */

/* Scrollbar du corps du site web */
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
 background-color: #FFFFFF; /* color of the tracking area */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
   background-color: var(--color_violet); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}


/* Zone du bandeau de gauche */

/* Zone des feux */
#feuFlore {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding: 0px;
}

#feuInvertebre {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding: 0px;
}

#feuVertebre {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding: 0px;
}

#listeFeux {
  display: flex;
  align-self: flex-end;
  padding: 0px;
  margin: 0px;
}


/* Zone des chiffres globaux */
#affichageNbData {
  color: #FFFFFF;
  margin: 0px;
  font-size: 16px;
}

#affichageNbSpecies {
  color: #FFFFFF;
  margin: 0px;
  font-size: 16px;
}

#nombreData {
  display: flex;
  background-color: var(--color_violet);
  padding: 3%;
  justify-content: center;
  align-items: center;
}

#nombreSpecies {
  display: flex;
  background-color: var(--color_violet);
  padding: 3%;
  justify-content: center;
  align-items: center;
}

#chiffreGlobaux {
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-top: 1%;
  margin: 5%;
  background-color: #FFFFFF;
}

/* Zone de sélection des indicateurs */
#selectArea >select {
    width: 90%;
    padding: 5%;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #FFFFFF;
    background-color: var(--color_violet100);
}

#selectArea >p {
  font-weight:bold;
  text-align:center;
  color :white;
  margin-top : 1%;
  margin-bottom : 0px;
  font-size: 20px;
}

#selectArea {
  margin-bottom: 10%;
}

/* Scroll bar du menu déroulant des indicateurs */
select::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

select::-webkit-scrollbar-track {
  background-color: #FFFFFF; /* color of the tracking area */
  border-radius: 10px;
}

select::-webkit-scrollbar-thumb {
  background-color: var(--color_violet); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}

/* Titre du nom de l'indicateur */
#indicatorName {
  color; white;
  font-size: 20px;
}

/*Les icones de la bibliothèque fa sont mis en blanc : ici le 
point d'interrogation dans un cercle*/
.fa{
  color: white;
}

#aideButton {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding: 0px;
}

/* Zone de l'affichage des data viz */
#dataSumUp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items : baseline;
  color: white;
  font-size: 97%;
}

#data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 5%;
}

.graphWithTitle {
  margin-bottom: 15px;
}

.graphWithTitle p {
  color: white;
  font-size: 14px;
}

/* Pop up qui s'affiche lors du survolage des data viz */
#popUpDataViz {
  position:absolute;
  top: 10%;
  left: 10%;
  max-height : 80%;
  max-width : 80%;
  
  background-color: var(--color_bleuLPO);
  border-radius : 15px;
  /*background-color : #eff0f2;*/
  /*border:none;*/
  padding-top : 0%;
  padding-bottom : 1%;
  padding-right : 1%;
  padding-left : 1%;
  border: solid 10px var(--color_bleuLPO);
  z-index : 10;
  overflow-y:auto;
  box-shadow: 0px 0px 30px black;
}

#buttonCloseDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#titrePopup {
  color: #eff0f2;
  margin-bottom: 5px;
  align-self: end;
}

#closePopupButton {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 24px;
  color: #eff0f2;
  align-self: start;
}

#histCopy {
  height: 100% !important;
  width: 100% !important;
}

#pie1Copy {
  height: 100% !important;
  width: 100% !important;
}

#pie2Copy {
  height: 100% !important;
  width: 100% !important;
}

#barCopy {
  height: 100% !important;
  width: 100% !important;
}

#graphFournProd1Copy {
  height: 100% !important;
  width: 100% !important;
}

#graphFournProd2Copy {
  height: 100% !important;
  width: 100% !important;
}
/*.graphCopy {
  height: 100%;
  width: 100%;
}*/

/* Scroll bar du pop */
#popUpDataViz::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

#popUpDataViz::-webkit-scrollbar-track {
  background-color: #FFFFFF; /* color of the tracking area */
  border-radius: 10px;
}

#popUpDataViz::-webkit-scrollbar-thumb {
  background-color: var(--color_violet); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}

/* Zone du bandeau qui est utilisé pour afficher des informations */
#bandeauUtil {
  width: 100%;
}


/* Zone du bandeau qui est utilisé pour permettre le collapsing du bandeau */
#bandeauUncollapsed>button {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding: 5px;
  font-size: 24px;
}

/* Forme du bandeau lorsque collapsed */
#bandeauCollapsed {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow-y: auto;
  width: 24px;
  height: 100%;
  background-color: var(--color_bleuLPO);
  border-radius: 0 20px 20px 0;
  padding-top: 1%;
}

#bandeauCollapsed>button {
  border: none;
  background-color: #FFFFFF00;
  outline: none;
  box-shadow: none;
  padding: 5px;
  font-size: 24px;
}

/* Zone générale du bandeau */
#bandeau {
  z-index: 2;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  height: 100%;
  width: 50%;
  background-color: var(--color_bleuLPO);
  border-radius: 0 20px 20px 0;
  border: solid 10px var(--color_bleuLPO);
}

/* Scrollbar du bandeau */
#bandeau::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

#bandeau::-webkit-scrollbar-track {
 background-color: #FFFFFF; /* color of the tracking area */
  border-radius: 10px;
}

#bandeau::-webkit-scrollbar-thumb {
   background-color: var(--color_violet); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}

/* Zone de la carte */
#carte {
  
}

#bandeauCarte {
  display: flex;
  flex-direction: row;
  height: 450px;
}
